doctype html
html
    include includes/head.pug
    body
        div.site-container
            include includes/nav.pug
            include pages/about.pug
            include includes/foot.pug
